---

---

<style>
  p {
    padding-left: 15px;
    border-left: 2px solid rgb(var(--foreground-color));
    padding-top: 3px;
    text-transform: capitalize;
    padding-bottom: 0px;
  }
</style>

<p><slot /></p>
